@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<AuthorizeView>
    <h1>Weather forecast</h1>

    <p>This component demonstrates fetching data from the server.</p>
</AuthorizeView>